body{
    margin: 1.5rem;
}

/* header container*/
.header{
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}
.logo-name{
    /* border: 1px solid black; */
    /* width: 10%; */
    /* height: 50px; */
    font-size: 1.6rem;
}

/* Search bar */
.search-container{
    position: relative;
    /* border: 1px solid black; */
}
.search-container #search{
    width: 600px;
    padding: 10px 10px 10px 40px;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 6px;
    outline: none;
    border: 1px solid black;
}
.search-container .search-icon{
    position: absolute;
    /* border: 1px solid black; */
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 20px;
}
#search-results{
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: white;
    border: 1px solid black;
    z-index: 10;
}
.search-result{
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: white;
    text-align: left;
    cursor: pointer;
}
.search-results:hover{
    background-color: #eee;
}
/* personal bar */
.personal{
    /* border: 1px solid black; */
    display: grid;
    width: 7%;
    grid-template-columns: 1fr 1fr;
    column-gap: 3px;
}
.personal .cart, .personal .profile{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    padding: 0;
}
.cart{
    background: black;
    border-radius: 50px;
}
.cart a, .profile a{
    text-decoration: none;
}

/* Navigation bar */
.nav-bar{
    /* border: 1px solid black; */
    padding: 0%;
}
.nav-bar ul{
    /* border: 1px solid red; */
    display: flex;
    margin: 0;
    padding: 0;
}
ul li{
    list-style-type: none;
    /* border: 1px solid black; */
    display: flex;
}
li a{
    /* border: 1px solid black; */
    margin: 0;
    text-decoration: none;
    padding: 1rem 1.5rem;
    color: black;
}

/* Message container */
.message-container{
    /* border: 1px solid orange; */
    display: flex;
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    background-color: brown;
    color: white;
    border-radius: 15px;
}
.message-container .msg-img{
    /* border: 1px solid black; */
    width: 50%;
    padding: 0;
    overflow: hidden;
    position: relative;
}
.message-container .me{
    /* border: 1px solid green; */
    height: 75vh;
    position: absolute;
    bottom: 0;
    transition: all 0.5s linear;
}
.me:hover{
    transform: scale(1.1)
}
.message-container .message{
    padding: 3rem;
    width: 50%;
    /* border: 1px solid white; */
}
.message .msg-main{
    font-size: 3rem;
}
.msg-main span{
    color: orange;
}
.message a{
    text-decoration: none;
    /* border: 1px solid orange; */
    color: white;
    background-color: orange;
    border-radius: 3px;
    padding: 1rem 1rem;
}
.message h2, .message p{
    /* border: 1px solid black; */
    margin-bottom: 0;
}
.message p{
    margin-bottom: 20px;
}

/* Categories */
.categories{
    /* border: 1px solid black; */
    width: 100%;
    height: 100px;
    display: flex;
    gap: 10px;
    margin: 3px;
}
.categories .category{
    /* border: 1px solid black; */
    width: 200px;
    border-radius: 10px;
    transition: all 0.2s linear;
    box-shadow: 5px 5px 5px ;
}
.categories .category:hover{
    transform: perspective(1000px) rotateY(10deg);
    transform-style: preserve-3d;
}
.Clothes{
    background: url(../images/clothes-cutout.png);
    background-repeat: no-repeat;
    background-position: 50% 90%;
    background-size: contain;
    background-color: #333333;
}
.Shoes{
    background: url(../images/Shoes_edited.png);
    background-repeat: no-repeat;
    background-position: 50% 90%;
    background-size: contain;
    background-color: #E4DCBD;
}
.Phones{
    background: url(../images/phones_edited.png);
    background-repeat: no-repeat;
    background-position: 50% 90%;
    background-size: contain;
    background-color: #364640;
}
.Laptops{
    background: url(../images/Laptops_edited.png);
    background-repeat: no-repeat;
    background-position: 50% 90%;
    background-size: contain;
    background-color: #5B9EBC;
}
.Gadgets{
    background: url(../images/Gadgets-cutout.png);
    background-repeat: no-repeat;
    background-position: 50% 90%;
    background-size: contain;
    background-color: #7C1615;
}
.category a{
    width: 100%;
    height: 100%;
    display: block;
}
/* Products */
#products{
    border: 1px solid black;
    width: 100%;
    margin-top: 6px;
    display: flex;
    gap: 10px;
}
#products .product-card{
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    align-items: center;
    box-shadow: 5px 5px 9px;
    border-radius: 15px;
    overflow: hidden;
}
.product-card .img-container{
    /* border: 1px solid gray; */
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.76);
} 
.product-card img{
    /* border: 1px solid black; */
    height: 270px;
}
.product-card .info{
    /* border: 1px solid green; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.137);
}
#add-item{
    position: absolute;
    bottom: 10px;
}